.navbar-nav.d-flex {
    align-items: center;
}

.zipSearchButton {
    width: 100%;
}

a.d-flex {
    text-decoration: unset;
    color: rgb(87 87 87);
}

.pizzaBox {
    justify-content: center;
}

.pizzaIMG {
    width: 70%;
    height: 85%;
}

h1 {
    padding: 3% 0 0 15%;
}
